body {
  background-color: #f4f4f4;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  overflow: hidden;
}

header {
  background-color: #ffffff;
  margin-top: 0;
  padding: 15px;
  color: black;
  min-height: 50px;
}

header a {
  color: black;
  text-decoration: none;
  font-size: 15px;
}

header a:hover {
  color: #b3d1ff;
  text-decoration: none;
}

header h1 {
  margin:5px 0 0 50px;
}

header li {
  display: inline;
  float: left;
  padding-right: 15px;
}

header ul {
  margin-right: 20px;
}

header #logo {
  float: left;
}

header nav{
  float: right;
}

#mid {
  min-height: 230px;
  min-width: 100%;
  background: url(showcase.jpg) no-repeat 0 -200px;
  margin: 0;
}

#mid h2{
  font-family: Aharoni;
  text-align: center;
  padding-top: 20px;
  color: #ff120a;
  font-size: 45px;
}

#mid p{
  font-family: Calibri;
  text-align: center;
  color: white;
  width: 80%;
  margin: auto;
  font-size: 20px;
}

#btn1 {
  margin: 20px;
  padding: 15px;
  background-color: #ffbf0f;
  border-radius: 10%;
  font-family: Candara;
  font-size: 20px;
  color: white;
}

#btn2 {
  margin: 10px;
  padding: 15px;
  background-color: #ffbf0f;
  border-radius: 10%;
  font-family: Candara;
  font-size: 20px;
  color: white;
}

#btn3 {
  margin:20px;
  padding: 15px;
  background-color: #ffbf0f;
  border-radius: 10%;
  font-family: Candara;
  font-size: 20px;
  color: white;
}

footer {
  background-color: #ffffff;
  padding:20px;
  text-align: center;
}
